In [38]:
A = [' Messi is running towards the #football.', 'Ronaldo is better than Messi','Messi is better than Ronaldo','Messi is the no 1 football player','Messi Messi Ronaldo Ronaldo']

In [39]:
import pandas as pd
data = pd.DataFrame({'tweet_text':A})

In [40]:
data['tweet_text']

0     Messi is running towards the #football.
1                Ronaldo is better than Messi
2                Messi is better than Ronaldo
3           Messi is the no 1 football player
4                 Messi Messi Ronaldo Ronaldo
Name: tweet_text, dtype: object

In [41]:
#Number of Words
data['word_count'] = data['tweet_text'].apply(lambda x: len(str(x).split(" ")))
data[['tweet_text','word_count']].head()

                                 tweet_text  word_count
0   Messi is running towards the #football.           7
1              Ronaldo is better than Messi           5
2              Messi is better than Ronaldo           5
3         Messi is the no 1 football player           7
4               Messi Messi Ronaldo Ronaldo           4

In [42]:
#Number of characters
data['char_count'] = data['tweet_text'].str.len() ## this also includes spaces
data[['tweet_text','char_count']].head()

                                 tweet_text  char_count
0   Messi is running towards the #football.          40
1              Ronaldo is better than Messi          28
2              Messi is better than Ronaldo          28
3         Messi is the no 1 football player          33
4               Messi Messi Ronaldo Ronaldo          27

In [43]:
#Average Word Length
#Number of characters(without space count)/Total number of words
def avg_word(sentence):
  words = sentence.split()
  print(words)
  print(len(words))
  print(sum(len(word) for word in words))
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['tweet_text'].apply(lambda x: avg_word(x))
data[['tweet_text','avg_word']].head()

['Messi', 'is', 'running', 'towards', 'the', '#football.']
6
34
['Ronaldo', 'is', 'better', 'than', 'Messi']
5
24
['Messi', 'is', 'better', 'than', 'Ronaldo']
5
24
['Messi', 'is', 'the', 'no', '1', 'football', 'player']
7
27
['Messi', 'Messi', 'Ronaldo', 'Ronaldo']
4
24

                                 tweet_text  avg_word
0   Messi is running towards the #football.         5
1              Ronaldo is better than Messi         4
2              Messi is better than Ronaldo         4
3         Messi is the no 1 football player         3
4               Messi Messi Ronaldo Ronaldo         6

In [44]:
#Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['stopwords'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['tweet_text','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                 tweet_text  stopwords
0   Messi is running towards the #football.          2
1              Ronaldo is better than Messi          2
2              Messi is better than Ronaldo          2
3         Messi is the no 1 football player          3
4               Messi Messi Ronaldo Ronaldo          0

In [45]:
#Number of special characters
data['hastags'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['tweet_text','hastags']].head()

                                 tweet_text  hastags
0   Messi is running towards the #football.        1
1              Ronaldo is better than Messi        0
2              Messi is better than Ronaldo        0
3         Messi is the no 1 football player        0
4               Messi Messi Ronaldo Ronaldo        0

In [46]:


#Number of numerics
data['numerics'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['tweet_text','numerics']].head()

                                 tweet_text  numerics
0   Messi is running towards the #football.         0
1              Ronaldo is better than Messi         0
2              Messi is better than Ronaldo         0
3         Messi is the no 1 football player         1
4               Messi Messi Ronaldo Ronaldo         0

In [47]:
#Number of Uppercase words
data['upper'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['tweet_text','upper']].head()

                                 tweet_text  upper
0   Messi is running towards the #football.      0
1              Ronaldo is better than Messi      0
2              Messi is better than Ronaldo      0
3         Messi is the no 1 football player      0
4               Messi Messi Ronaldo Ronaldo      0

In [48]:
pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

# function to check and get the part of speech tag count of a words in a given sentence
from textblob import TextBlob, Word, Blobber
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
                print(ppo, tup)
    except:
        pass
    return cnt

data['noun_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'noun'))
data['verb_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'verb'))
data['adj_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'adj'))
data['adv_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'adv'))
data['pron_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'pron'))
data[['tweet_text','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
(u'NNP', (u'Messi', u'NNP'))
(u'NN', (u'football', u'NN'))
(u'NNP', (u'Ronaldo', u'NNP'))
(u'NNP', (u'Messi', u'NNP'))
(u'NNP', (u'Messi', u'NNP'))
(u'NNP', (u'Ronaldo', u'NNP'))
(u'NNP', (u'Messi', u'NNP'))
(u'NN', (u'football', u'NN'))
(u'NN', (u'player', u'NN'))
(u'NNP', (u'Messi', u'NNP'))
(u'NNP', (u'Messi', u'NNP'))
(u'NNP', (u'Ronaldo', u'NNP'))
(u'NNP', (u'Ronaldo', u'NNP'))
(u'VBZ', (u'is', u'VBZ'))
(u'VBG', (u'running', u'VBG'))
(u'VBZ', (u'is', u'VBZ'))
(u'VBZ', (u'is', u'VBZ'))
(u'VBZ', (u'is', u'VBZ'))
(u'JJR', (u'better', u'JJR'))
(u'JJR', (u'better', u'JJR'))

                                 tweet_text  noun_count  ...  adv_count  pron_count
0   Messi is running towards the #football.           2  ...          0           0
1              Ronaldo is better than Messi           2  ...          0           0
2              Messi is better than Ronaldo           2  ...          0           0
3         Messi is the no 1 football player           3  ...          0           0
4               Messi Messi Ronaldo Ronaldo           4  ...          0           0

[5 rows x 6 columns]

In [49]:
data.head()

                                 tweet_text  word_count  ...  adv_count  pron_count
0   Messi is running towards the #football.           7  ...          0           0
1              Ronaldo is better than Messi           5  ...          0           0
2              Messi is better than Ronaldo           5  ...          0           0
3         Messi is the no 1 football player           7  ...          0           0
4               Messi Messi Ronaldo Ronaldo           4  ...          0           0

[5 rows x 13 columns]

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [51]:
cv=CountVectorizer()
A_vec = cv.fit_transform(A)
print(A_vec.toarray())

[[0 1 1 1 0 0 0 1 0 1 1]
 [1 0 1 1 0 0 1 0 1 0 0]
 [1 0 1 1 0 0 1 0 1 0 0]
 [0 1 1 1 1 1 0 0 0 1 0]
 [0 0 0 2 0 0 2 0 0 0 0]]

In [52]:
tv=TfidfVectorizer()
t_vec = tv.fit_transform(A)
print(t_vec.toarray())

[[0.         0.41137843 0.2872648  0.24296673 0.         0.
  0.         0.50989296 0.         0.41137843 0.50989296]
 [0.53258605 0.         0.37190386 0.3145539  0.         0.
  0.44209453 0.         0.53258605 0.         0.        ]
 [0.53258605 0.         0.37190386 0.3145539  0.         0.
  0.44209453 0.         0.53258605 0.         0.        ]
 [0.         0.41137843 0.2872648  0.24296673 0.50989296 0.50989296
  0.         0.         0.         0.41137843 0.        ]
 [0.         0.         0.         0.57973867 0.         0.
  0.81480247 0.         0.         0.         0.        ]]

In [53]:
feature_names = tv.get_feature_names()

dense = t_vec.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [35]:
feature_names

[u'better',
 u'football',
 u'is',
 u'messi',
 u'no',
 u'player',
 u'ronaldo',
 u'running',
 u'th',
 u'than',
 u'the',
 u'towards']

In [54]:
df_c =pd.concat([df,data], axis=1)
df_c.head()

     better  football        is  ...  adj_count  adv_count  pron_count
0  0.000000  0.411378  0.287265  ...          0          0           0
1  0.532586  0.000000  0.371904  ...          1          0           0
2  0.532586  0.000000  0.371904  ...          1          0           0
3  0.000000  0.411378  0.287265  ...          0          0           0
4  0.000000  0.000000  0.000000  ...          0          0           0

[5 rows x 24 columns]